.grad {
    background-image: linear-gradient(to right, black, rgb(30, 30, 30), black);
}

.grad2{
    background-image: linear-gradient(to right, white, rgb(30,30,30),    black);
}

.grad3{
    background-image: linear-gradient(to left, white, rgb(30,30,30),    black);
}

.gray {
    color: gray;
}

.bg-white{
    background-color: white;
}

.colour-black{
    color: black;
}

.bg-black{
    background-color: black;
}

.bg-gray {
    background-color:rgb(18,18,18);
}
body {
    font-family: "Work Sans";
    color: whitesmoke; 
}

#pages__main--height {
    min-height: 90vh;
}

.border__radius {
    border-radius: 30px 30px;
    border: solid 3px;
}

a {
    text-decoration: none;
    color: whitesmoke; 
}

.font__dancing{
    font-family: "Dancing Script";
    font-size: 6em - 3;
}

.font__roboto {
    font-family: "Roboto";
    font-size: 0.5em + 0.3;
}