@import "_typography";
@import "_decoration";
@import "_animations";
@import "_photos";
@import "_footer";
@import "_nav";
@import "_contacto";
@import "_reset";
@import "_responsive";

.margintop {
    margin-top: 60px;
}

.containergrid {
display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . . ."
    ". . . .";
}
