@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
.grad {
  background-image: linear-gradient(to right, black, #1e1e1e, black); }

.gray {
  color: gray; }

.bg-black {
  background-color: black; }

body {
  font-family: "Work Sans";
  color: whitesmoke; }

#pages__main--height {
  min-height: 87vh; }

.border__radius {
  border-radius: 30px 30px;
  border: solid 3px; }

a {
  text-decoration: none;
  color: whitesmoke; }

.font__dancing {
  font-family: "Dancing Script";
  font-size: 3em; }

.font__roboto {
  font-family: "Roboto";
  font-size: 0.8em; }

/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden; }

.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: lightgray;
  height: 2px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-reveal:hover:before,
.hvr-underline-reveal:focus:before,
.hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0); }

/* Forward */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-forward:hover,
.hvr-forward:focus,
.hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px); }

.img__fix {
  max-height: 87vh;
  max-width: 100%;
  object-fit: cover; }

.footer__contain {
  padding: 4px;
  background-color: black;
  height: auto;
  text-align: center;
  font-size: small;
  font-family: "Roboto"; }

.contacto__title--flex {
  padding-top: 50px;
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: whitesmoke;
  font-family: "Roboto"; }

.contacto__form--flex {
  padding-top: 30px;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: whitesmoke; }

.boton__formulario {
  background: transparent;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  margin: 3px; }

.boton__formulario:hover {
  background-color: whitesmoke;
  border: 2px solid whitesmoke;
  color: black;
  cursor: pointer; }

form {
  width: 450px;
  margin: auto;
  border: 2px solid whitesmoke;
  padding: 20px 20px; }

input {
  width: 100%;
  padding: 5px;
  font-size: 1em;
  border: none;
  font-family: "Roboto"; }

textarea {
  font-family: "Roboto"; }

.item {
  transition: .5s ease-in-out; }

.item:hover {
  filter: brightness(80%); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
