@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
.grad {
  background-image: linear-gradient(to right, black, #1e1e1e, black); }

.grad2 {
  background-image: linear-gradient(to right, white, #1e1e1e, black); }

.grad3 {
  background-image: linear-gradient(to left, white, #1e1e1e, black); }

.gray {
  color: gray; }

.bg-white {
  background-color: white; }

.colour-black {
  color: black; }

.bg-black {
  background-color: black; }

.bg-gray {
  background-color: #121212; }

body {
  font-family: "Work Sans";
  color: whitesmoke; }

#pages__main--height {
  min-height: 90vh; }

.border__radius {
  border-radius: 30px 30px;
  border: solid 3px; }

a {
  text-decoration: none;
  color: whitesmoke; }

.font__dancing {
  font-family: "Dancing Script";
  font-size: 3em; }

.font__roboto {
  font-family: "Roboto";
  font-size: 0.8em; }

/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden; }

.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: lightgray;
  height: 2px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-reveal:hover:before,
.hvr-underline-reveal:focus:before,
.hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0); }

/* Forward */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-forward:hover,
.hvr-forward:focus,
.hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px); }

.img__fix {
  max-height: 90vh;
  max-width: 100%;
  object-fit: cover; }

.main__height {
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100%; }

.container__footer {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  text-decoration: none;
  justify-content: center;
  list-style: none; }

.container__footer--main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  text-decoration: none;
  justify-content: center;
  list-style: none; }

.container__mapa {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  text-decoration: none;
  list-style: none; }

.contacto__title--flex {
  padding-top: 50px;
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: whitesmoke;
  font-family: "Roboto"; }

.contacto__form--flex {
  padding-top: 30px;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: whitesmoke; }

.boton__formulario {
  background: transparent;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  margin: 3px; }
  .boton__formulario:hover {
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    color: black;
    cursor: pointer; }

form {
  width: 450px;
  margin: auto;
  border: 2px solid whitesmoke;
  padding: 20px 20px; }

input {
  width: 100%;
  padding: 5px;
  font-size: 1em;
  border: none;
  font-family: "Roboto"; }

textarea {
  font-family: "Roboto"; }

.item {
  transition: .5s ease-in-out; }
  .item:hover {
    filter: brightness(80%); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%; }

/* For mobile phones: */
[class*="col-"] {
  width: 100%; }

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%; }
  .col-s-2 {
    width: 16.66%; }
  .col-s-3 {
    width: 25%; }
  .col-s-4 {
    width: 33.33%; }
  .col-s-5 {
    width: 41.66%; }
  .col-s-6 {
    width: 50%; }
  .col-s-7 {
    width: 58.33%; }
  .col-s-8 {
    width: 66.66%; }
  .col-s-9 {
    width: 75%; }
  .col-s-10 {
    width: 83.33%; }
  .col-s-11 {
    width: 91.66%; }
  .col-s-12 {
    width: 100%; } }

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%; }
  .col-2 {
    width: 16.66%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.33%; }
  .col-5 {
    width: 41.66%; }
  .col-6 {
    width: 50%; }
  .col-7 {
    width: 58.33%; }
  .col-8 {
    width: 66.66%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.33%; }
  .col-11 {
    width: 91.66%; }
  .col-12 {
    width: 100%; } }

.margintop {
  margin-top: 60px; }

.containergrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-auto-flow: row;
  grid-template-areas: ". . . ." ". . . ."; }
